.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: #1B4B36;
    font-family: "Roboto";
    font-size: 1em;
    white-space: nowrap;
    font-weight: 400;
}

.btn:hover {
    cursor: pointer; 
}

.btn.white {
    background-color: #FFFFF2;
    color: #353535;
}

.btn.blue {
    background-color: #002f34;
    color: #fff;
}

.btn.green {
    background-color: #1F573F;
    color: #fff;
}

.btn.light-green {
    background-color: #CFEE91;
    color: #1F573F;
}
