.contact-card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top:60px;
    padding-bottom:60px;
    max-width: 2000px;
    margin: auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.contact-card-info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    height: 250px;
    
}
.contact-card-title {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: "archivo";
    color: #353535;
}
.contact-card-text, .contact-card-email {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 350;
    margin-bottom: 0px;
    margin-top:15px;
    color: #353535;
}

.contact-card-content {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.contact-card-image {
    width: 200px;
    margin-bottom: 0px;
    height: 250px;
}

.contact-card-person-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: solid 1px #00000026;
}

.contact-card-socials {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.social-box {
    background-color: #1F573F;
    width: fit-content;
    height: fit-content;
    padding: 8px 8px 5px 8px;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.social-icon {
    width: 30px;
}

@media screen and (max-width: 600px) {
    .contact-card-body {
        flex-direction: column;
    }

    .contact-card-info {
        padding-left: 0px;
    }

    .contact-card-image {
        height: 100%;
        width: 100%;
    }

    .contact-card-title{
        padding-top: 20px;
    }
}